body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif, serif;
   margin: 0%;
}
h1{
    font-size: 50px;
}

body p{
    font-weight: lighter;
    color: gray;
    font-size: 23px;
}


.green-color{
    color: springgreen;
}

.link-button{
    text-decoration: none;
    background-image: linear-gradient(springgreen,rgb(2, 46, 24) );
    color: wheat;
    font-weight: bold;
    padding: 20px 40px;
    border-radius: 25px;
    font-size: 20px;
}

.flexible-container{
    display: flex;
    margin-bottom: 50px;
    
    
}
.half-width-order{
    margin-left: 0%;
    width: 60%;
    padding-left: 5%;
}
.half-width-about{

    margin-right: 5%;
    width: 60%;
    padding-right: 5%;

}

.half-width img{
    width: 90%;
}

.about-me{
    background-image: url(images/shapes/7.png);
    background-repeat: no-repeat;
    margin: 0%;
    background-size:contain;
    
}

.half-width-about img{
    padding-top: 60px;
    height:90%;
    width: 60%;
    padding-left: 200px;
}

.my-recepies-image {
    display: flex;
    float: left;
    margin-bottom: 150px;
    width: 200px;
    height: 300px;
    padding: 125px; 
    
    
}


.my-recepies-image p{
    text-align: left;
    margin-bottom: 150px;
    width: 200px;
    margin: 0%;
    float: left; 
}

.block {
    
    display: inline-table;
    width: 300px;
    border: 15px solid white;
    border-radius: 25px 25px 25px 25px;
    box-shadow:  0 0 20px 5px;
    margin-right: 50px; 
    margin-left: 120px;
    height: 500px;
    margin-bottom: 50px;
    

  }
    
    
  
  
  .container {
    text-align: center;
    overflow: hidden;
  }
  
  .block img {

    width: 298px;
    
     
  
   
   


  }

  .food-network-message{
    margin-top: 150px ;
    border: 30px solid black;
    background-color: black;
    margin-left: 0px;
    margin-right: 0px;
    
    
  }

  .download{
    float: left;
    width: 6%;
    margin-right: 7px;
    
    
}

  

  .feedback-summary{
      
    border: 15px solid white;
    border-radius: 25px 25px 25px 25px;
    box-shadow:  10px 10px 50px;
    margin-left: 90px;
    margin-right: 90px;
    width: auto;
    height: 200px;
    border-image-slice: 30%;

  }

  .subscribers{
    display: inline-block;
    width: 200px;
    padding-left: 200px;

  }

  #youtube{

    width: 9%;
    float: right; 
    padding-right: 340px;
    
  }
#insta{
    width: 5%;
    float: right; 
    padding-right: 350px;
}
#dribbble{
    width: 5%;
    float: right; 
    padding-right: 250px;

}

.link-button-signin{
    text-decoration: none;
    background-image: linear-gradient(springgreen,rgb(2, 46, 24) );
    color: wheat;
    font-weight: bold;
    float: right;
    padding: 10px;
    border-radius: 25px;
    font-size: 20px;
    margin: 5px;

}


 
